<!-- <form (ngSubmit)="save()" [formGroup]="form"> -->
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">Edit Timesheet: #{{defaults.timesheetId}}</h2>
  </div>

  <mat-divider class="-mx-3 text-border"></mat-divider>

  <table mat-table [dataSource]="workers" class="">

    <ng-container matColumnDef="workerId.workerId">
      <th mat-header-cell *matHeaderCellDef>Worker ID</th>
      <td mat-cell *matCellDef="let element">{{element.workerId.workerId}} </td>
    </ng-container>

    <ng-container matColumnDef="workerId.forename">
      <th mat-header-cell *matHeaderCellDef>Worker Name</th>
      <td mat-cell *matCellDef="let element">{{element.workerId.forename}} {{element.workerId.surename}}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>


     <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef>Start Time</th>
      <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
    </ng-container>

    <ng-container matColumnDef="break">
      <th mat-header-cell *matHeaderCellDef>Break</th>
      <td mat-cell *matCellDef="let element">
        <mat-select (selectionChange)="break($event,element)" [value]="element.status"
          [placeholder]="element.status_label_text">
          <mat-option *ngFor="let status of break_times" [value]="status.value">
            {{status.viewValue}}
          </mat-option>
        </mat-select>

      </td>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef>End Time</th>
      <td mat-cell *matCellDef="let element">{{element.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="noShow">
      <th mat-header-cell *matHeaderCellDef>No Show</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="hours">
      <th mat-header-cell *matHeaderCellDef>Hours</th>
      <td mat-cell *matCellDef="let element">{{element.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="delete_invoice_cell">Actions</th>
      <td mat-cell *matCellDef="let element" class="receipt_cell">
        <div *ngIf="element.status === 'confirm'">
          <button mat-raised-button color="primary" (click)="amend(element)">Amend</button>
        </div>

        <div *ngIf="element.status !== 'confirm'">
          <button mat-raised-button  (click)="confirm(element)">Confirm</button>
        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row  {{row.status_label}}" ></tr>
  </table>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button color="primary" (click)="setSubmit()"mat-button type="button">SUBMIT TIMESHEET</button>
  </mat-dialog-actions>
<!-- </form> -->
