<div class="h-full w-full overflow-hidden" fxLayout="column">
  <div class="py-4 px-gutter" fxFlex="none" fxLayout="row" fxLayoutAlign="start center" vexContainer>
    <h1 class="title m-0">{{currentJob.client.clientId.companyName}}</h1>
    <!-- <button (click)="toggleStar(board)" class="ml-2" mat-icon-button type="button"> -->
      <span class="ml-8">Edit Job
        <!-- <mat-icon [icIcon]="icEdit" class="text-amber"></mat-icon> -->
      </span>

    <span fxFlex></span>

  </div>

  <div (cdkDropListDropped)="dropList($event)"
       @stagger
       [cdkDropListData]="board.children"
       cdkDropList
       cdkDropListOrientation="horizontal"
       class="px-gutter pb-gutter min-h-0 overflow-x-auto"
       fxFlex="auto"
       fxLayout="row"
       fxLayoutAlign="start start"
       fxLayoutGap="24px"
       vexContainer>
    <div *ngFor="let list of board.children;"
         @fadeInUp
         [cdkDragData]="list"
         cdkDrag
         cdkDropListGroup
         class="rounded bg-app-bar overflow-hidden max-h-full w-full max-w-xxs"
         fxFlex="none"
         fxLayout="column">
      <div cdkDragHandle class="p-4 cursor-pointer" fxFlex="none">
        <h2 class="subheading-2 font-medium m-0 select-none" fxFlex="none">{{ list.label }}</h2>
      </div>

      <vex-scrollbar class="flex-auto">
        <div (cdkDropListDropped)="drop($event)"
             [cdkDropListConnectedTo]="getConnectedList(board)"
             [cdkDropListData]="list.children"
             cdkDropList
             class="px-4 pb-4"
             id="{{ list.shiftId }}">
          <div (click)="open()"
               *ngFor="let card of list.children;"
               [cdkDragData]="card"
               cdkDrag
               class="scrumboard-card card w-full cursor-pointer overflow-hidden">

            <div class="p-4">
              <!-- <div *ngIf="card.labels?.length > 0" class="mb-2" fxLayout="row" fxLayoutGap="8px">
                <div *ngFor="let label of card.labels"
                     [ngClass]="label.bgClass"
                     class="label"
                     fxFlex></div>
              </div> -->
              <!--TODO need to get assigned worker/{{card.shift.total}} -->
              <h3 class="body-2 m-0 select-none">{{card.title}} -  {{card.shift.total}}/{{card.shift.total}}</h3>

              <div *ngIf="card.workerId?.length > 0"
                   class="mt-2"
                   fxLayout="row"
                   fxLayoutGap="8px">
              </div>
            </div>
          </div>
        </div>
      </vex-scrollbar>


      <div #addCardOriginRef class="bg-hover" fxFlex="none">
        <ng-template #addCardTemplate let-close="close">
          <div class="card px-4 py-6">
            <mat-form-field class="vex-dense-form-field">
              <mat-label>Card Title</mat-label>
              <input [formControl]="addCardCtrl" matInput placeholder="Enter your title...">
              <button (click)="createCard(list, close)"
                      class="-top-1"
                      color="primary"
                      mat-button
                      matSuffix
                      type="button">CREATE
              </button>
            </mat-form-field>
          </div>
        </ng-template>

      </div>

    </div>
  </div>

</div>
