<form (ngSubmit)="save()" [formGroup]="workerForm">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <!-- <img *ngIf="workerForm.get('profilePhoto').value" [src]="workerForm.get('profilePhoto').value" class="avatar mr-5">-->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>
  <mat-divider class="-mx-6 text-border"></mat-divider>
  <mat-dialog-content fxLayout="column">
    <!-- ///////////////////Page1 starts/////////////////////// -->
  <div *ngIf="step == 0" class="flex flex-col sm:flex-row">
    <mat-form-field *ngIf="step == 0" class="mt-6 flex-auto">
      <mat-label>Department*</mat-label>
      <mat-select formControlName="department" (selectionChange)="changeDepartment($event)" [(ngModel)]="selectedDepartment">
          <mat-option value="Housekeeping">Housekeeping</mat-option>
          <mat-option value="Food and Beverage">Food and Beverage</mat-option>
          <mat-option value="Back of House">Back of House</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="step == 0" class="sm:mt-6 sm:ml-6  flex-auto">
        <mat-label>Title*</mat-label>
        <input formControlName="title" matInput >
        <mat-error *ngIf="workerForm.get('title').hasError('required')">This is required field</mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="step == 0" class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
      <mat-label>First Name*</mat-label>
      <input formControlName="forename" matInput >
      <mat-error *ngIf="workerForm.get('forename').hasError('required')">This is required field</mat-error>
    </mat-form-field>
    <mat-form-field class="sm:mt-6 sm:ml-6   flex-auto">
      <mat-label>Last Name*</mat-label>
      <input formControlName="surename" matInput >
      <mat-error *ngIf="workerForm.get('surename').hasError('required')">This is required field</mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="step == 0" class="flex flex-col flex-row">
    <mat-radio-group formControlName="gender" class="mat-form-field-wrapper" fxLayout="row" fxLayoutGap="16px">
      <mat-radio-button value="Male" color="primary">Male</mat-radio-button>
      <mat-radio-button value="Female" color="accent">Female</mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="step == 0" class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
        <mat-label>Address Line 1*</mat-label>
        <input formControlName="addressLine1" matInput >
        <mat-error *ngIf="workerForm.get('addressLine1').hasError('required')">This is required field</mat-error>
    </mat-form-field>
    <mat-form-field class="sm:mt-6 sm:ml-6  flex-auto">
        <mat-label>Address Line 2</mat-label>
        <input formControlName="addressLine2" matInput >
    </mat-form-field>
  </div>
  <div *ngIf="step == 0" class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
        <mat-label>City*</mat-label>
        <input formControlName="city" matInput >
        <mat-error *ngIf="workerForm.get('city').hasError('required')">This is required field</mat-error>
    </mat-form-field>
    <mat-form-field class="sm:mt-6 sm:ml-6  flex-auto">
        <mat-label>Postcode*</mat-label>
        <input formControlName="postcode" matInput >
        <mat-error *ngIf="workerForm.get('postcode').hasError('required')">This is required field</mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="step == 0" class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
      <mat-label>Mobile Number*</mat-label>
      <input formControlName="mobileNumber" pattern="[+0-9]*" minlength="10" maxlength="14" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" matInput >
      <mat-error *ngIf="workerForm.get('mobileNumber').hasError('required')">This is required field</mat-error>
      <mat-error *ngIf="workerForm.get('mobileNumber').hasError('pattern')">Incorrect Pattern</mat-error>
    </mat-form-field>
    <mat-form-field class="sm:mt-6 sm:ml-6  flex-auto">
      <mat-label>Home Number</mat-label>
      <input formControlName="homeNumber" pattern="[+0-9]*" minlength="10" maxlength="14" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" matInput >
      <mat-error *ngIf="workerForm.get('homeNumber').hasError('pattern')">Incorrect Pattern</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field *ngIf="step == 0" class="flex-auto">
    <mat-label>Select your date of birth*</mat-label>
    <input formControlName="dateBirth" value="{{ birthDateVal | date:'yyyy-MM-dd' }}" (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()" [matDatepicker]="formDatepickerRef" matInput>
    <mat-error *ngIf="workerForm.get('dateBirth').hasError('required')">This is required field</mat-error>
    <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
    <mat-hint>Click on the input or the datepicker icon</mat-hint>
    <mat-datepicker #formDatepickerRef></mat-datepicker>
  </mat-form-field>
  <!-- ///////////////////Page1 starts/////////////////////// -->
  <!-- ///////////////////Page2 starts/////////////////////// -->
  <mat-form-field *ngIf="step == 1" class="flex-auto">
    <mat-label>National Insurance Number (Optional)</mat-label>
    <input formControlName="nationalInsuranceNumber" matInput>
  </mat-form-field>
  <div fxLayout="column" fxLayoutGap="8px" *ngIf="step == 1">
    <mat-form-field>
      <mat-label>Driving License Number (Optional)</mat-label>
      <input formControlName="currentDrivingLicense" matInput>
    </mat-form-field>
  </div>
  <mat-form-field class="flex-auto" *ngIf="step == 1">
    <mat-label>Expiry Date (ex: MM/YYYY)</mat-label>
    <input [textMask]="{mask: exDateMask, guide: false}" formControlName="currentDrivingLicenseExpiryDate" matInput>
  </mat-form-field>
  <mat-form-field  class="flex-auto" *ngIf=" step == 1">
    <mat-label>Details of Endorsements</mat-label>
    <input formControlName="detailsEndorsements" matInput>
  </mat-form-field>
  <div fxLayout="column" fxLayoutGap="8px" *ngIf=" step == 1">
    <mat-checkbox formControlName="restrictionEmployment" class="mat-form-field-wrapper" color="primary" (change)="checkrestrictionEmployment($event)" [checked]="restrictionEmploymentVal">Are there any restrictions on you taking up employment in the UK?</mat-checkbox>
    <mat-form-field *ngIf="restrictionEmploymentVal">
      <mat-label>Please explain any restrictions*</mat-label>
      <input formControlName="restrictionEmploymentDetail" matInput>
    </mat-form-field>
  </div>
  <div *ngIf="step == 1" class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
      <mat-label>Bank Name*</mat-label>
      <input formControlName="bankName" matInput >
      <mat-error *ngIf="workerForm.get('bankName').hasError('required')">This is required field</mat-error>
    </mat-form-field>
    <mat-form-field class="mt-6 flex-auto">
      <mat-label>Bank Branch*</mat-label>
      <input formControlName="bankBranch" matInput >
      <mat-error *ngIf="workerForm.get('bankBranch').hasError('required')">This is required field</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field *ngIf="step == 1" class="flex-auto">
    <mat-label>Account Holder Name</mat-label>
    <input formControlName="accountNameHolder" matInput >
  </mat-form-field>
  <div *ngIf="step == 1" class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-4 flex-auto">
      <mat-label>Bank Account Number</mat-label>
      <input formControlName="bankAccountNumber" matInput maxlength="8" pattern="[0-9]*"onkeypress="return event.charCode >= 48 && event.charCode <= 57" >
    </mat-form-field>
    <mat-form-field class="mt-4 flex-auto">
      <mat-label>Bank Branch Sort Code</mat-label>
      <input [textMask]="{mask: sortMask, guide: false}" formControlName="bankBranchSortCode" maxlength="8" matInput  onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 45">
      <mat-error *ngIf="workerForm.get('bankBranchSortCode').hasError('pattern')">Incorrect Pattern</mat-error>
    </mat-form-field>
    <mat-form-field class="mt-4 flex-auto">
      <mat-label>Building Society Reference (Optional) </mat-label>
      <input formControlName="buildingSocietyReference" matInput pattern="[0-9]*"onkeypress="return event.charCode >= 48 && event.charCode <= 57">
    </mat-form-field>
  </div>
  <!-- ///////////////////Page2 ends/////////////////////// -->
  <!-- ///////////////////Page3 starts/////////////////////// -->
  <mat-form-field *ngIf="step == 2" class="flex-auto">
    <mat-label>Emergency Contact Name / Next of Kin*</mat-label>
    <input formControlName="emergencyRelationship" matInput >
    <mat-error *ngIf="workerForm.get('emergencyRelationship').hasError('required')">This is required field</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="step == 2" class="flex-auto">
    <mat-label>Relationship*</mat-label>
    <input formControlName="relationship" matInput >
    <mat-error *ngIf="workerForm.get('relationship').hasError('required')">This is required field</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="step == 2" class="flex-auto">
    <mat-label>Next of Kin Address*</mat-label>
    <input formControlName="nextKinAddress" matInput >
    <mat-error *ngIf="workerForm.get('nextKinAddress').hasError('required')">This is required field</mat-error>
  </mat-form-field>
  <div *ngIf="step == 2" class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
      <mat-label>Next of Kin Mobile Number*
      </mat-label>
      <input formControlName="nextKinPhoneNumberMobile" pattern="[+0-9]*" minlength="10" maxlength="14" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" matInput >
      <mat-error *ngIf="workerForm.get('nextKinPhoneNumberMobile').hasError('pattern')">Incorrect Pattern</mat-error>
      <mat-error *ngIf="workerForm.get('nextKinPhoneNumberMobile').hasError('required')">This is required field</mat-error>
    </mat-form-field>
    <mat-form-field class="mt-6 flex-auto">
      <mat-label>Next of Kin Home Number</mat-label>
      <input formControlName="nextKinPhoneNumberHome" pattern="[+0-9]*" minlength="10" maxlength="14" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" matInput>
    </mat-form-field>
  </div>
  <div *ngIf="step == 2" fxLayout="column" fxLayoutGap="16px">
    <mat-radio-group formControlName="employeeStatement" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px">
      <mat-radio-button value="This is my first job since 6 April and I’ve not been receiving taxable Jobseeker’s Allowance, Employment and Support Allowance, taxable Incapacity Benefit, State or Occupational Pension." color="primary">
        <span style="white-space: normal;">This is my first job since 6 April and I’ve not been receiving taxable Jobseeker’s Allowance, Employment and Support Allowance, taxable Incapacity Benefit, State or Occupational Pension.</span>
      </mat-radio-button>
      <mat-radio-button value="This is now my only job but since 6 April I’ve had another job, or received taxable Jobseeker’s Allowance, Employment and Support Allowance or taxable Incapacity Benefit. I do not receive a State or Occupational Pension." color="primary">
        <span style="white-space: normal;">This is now my only job but since 6 April I’ve had another job, or received taxable Jobseeker’s Allowance, Employment and Support Allowance or taxable Incapacity Benefit. I do not receive a State or Occupational Pension.
        </span>
      </mat-radio-button>
      <mat-radio-button value="As well as my new job, I have another job or receive State or Occupational Pension." color="primary">
        As well as my new job, I have another job or receive State or Occupational Pension.
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <!-- ///////////////////Page3 ends/////////////////////// -->
  <!-- ///////////////////Page4 starts/////////////////////// -->
  <div fxLayout="column" fxLayoutGap="8px" *ngIf=" step == 3">
    <label>Student Loan</label>
    <div>
      <h5 class="mt-2 mb-2 text-secondary">
        You’ll have a Plan 1 Student Loan if:
      </h5>
      <p>1. you lived in Scotland or Northern Ireland when you started your course (undergraduate or postgraduate)</p>
      <p>2. you lived in England or Wales and started your undergraduate course before 1 September 2012 </p>
      <h5 class="mt-2 mb-2 text-secondary">
        You’ll have a Plan 2 Student Loan if:
      </h5>
      <p>3. you lived in England or Wales and started your undergraduate course on or after 1 September 2012</p>
      <p>4. your loan is a Part Time Maintenance Loan </p>
      <p>5. your loan is an Advanced Learner Loan </p>
      <p>6. your loan is a Postgraduate Healthcare Loan </p>
    </div>
    <h5 class="mt-2 mb-2 text-secondary">
      Do you have one of the Student Loan Plans described which is not fully repaid?
    </h5>
    <mat-radio-group formControlName="studentLoan" (change)="checkStudentLoan($event, 1)" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px">
      <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
      <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
    </mat-radio-group>
    <div *ngIf="_studentloan">
      <h5 class="mt-2 mb-2 text-secondary">
        What type of Student Loan do you have?
      </h5>
      <div fxLayout="column" fxLayoutGap="16px">
        <mat-radio-group formControlName="studentloanPlan" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px">
          <mat-radio-button value="Plan 1" color="primary">Plan 1</mat-radio-button>
          <mat-radio-button value="Plan 2" color="primary">Plan 2</mat-radio-button>
          <mat-radio-button value="Both" color="primary">Both</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div *ngIf="_studentloan">
      <h5 class="mt-2 mb-2 text-secondary">
        Did you complete or leave your studies before 6th April?
      </h5>
      <mat-radio-group formControlName="leaveStudiesBefore6" (change)="checkStudentLoan($event, 2)" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px">
        <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="_studentloan && _leaveStudiesBefore6">
      <h5 class="mt-2 mb-2 text-secondary">
        Are you repaying your Student Loan directly to the Student Loans Company by direct debit?
      </h5>
      <mat-radio-group formControlName="payingStudentLoanDirctly" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px" (change)="checkStudentLoan($event, 3)">
        <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
      </mat-radio-group>
    </div>

  </div>
  <!-- ///////////////////Page4 ends/////////////////////// -->
  <!-- ///////////////////Page5 starts/////////////////////// -->
  <div fxLayout="column" fxLayoutGap="8px" *ngIf=" step == 4">
    <label>Postgraduate Loan</label>
    <div>
      <h5 class="mt-2 mb-2 text-secondary">
        Do you have a Postgraduate Loan which is not fully repaid?
      </h5>
      <mat-radio-group formControlName="postgraduateLoan" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px" (change)="checkPostgraduate($event, 1)">
        <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="_postloan">
      <h5 class="mt-2 mb-2 text-secondary">
        Did you complete or leave your Postgraduate studies before 6th April?
      </h5>
      <mat-radio-group formControlName="leavePostStudiesBefore6" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px" (change)="checkPostgraduate($event, 2)">
        <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="_leavePostStudiesBefore6">
      <h5 class="mt-2 mb-2 text-secondary">
        Are you repaying your Postgraduate Loan direct to the Student Loans Company by direct debit?
      </h5>
      <div fxLayout="column" fxLayoutGap="16px">
        <mat-radio-group formControlName="payingPostLoanDirctly" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px">
          <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
          <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <!-- ///////////////////Page5 ends/////////////////////// -->
  <!-- ///////////////////Page6 starts/////////////////////// -->

  <div *ngIf="step == 5" class="flex flex-col sm:flex-row">
    <!-- <div *ngFor="let qualificationName of qualificationNames; let i=index" class="flex flex-col sm:flex-row"> -->
    <mat-form-field class="mt-6 flex-auto">
        <mat-label>Qualification Name </mat-label>
        <input formControlName="qualificationName" matInput>
    </mat-form-field>
    <mat-form-field class="mt-6 flex-auto">
        <mat-label>Qualification Year </mat-label>
        <input formControlName="qualificationYear" type="number" matInput >
    </mat-form-field>
    <!-- </div> -->
  </div>
  <!-- <button (click)="addQualifacation()" *ngIf="step == 5" color="primary" mat-raised-button type="button">
     Add Qualifacation
  </button> -->
  <!-- ///////////////////Page6 ends/////////////////////// -->
  <!-- ///////////////////Page7 starts/////////////////////// -->
  <div fxLayout="column" *ngIf="step == 6" fxLayoutGap="8px" class="flex flex-col sm:flex-row">
    <label>Employment Histroy</label>
    <mat-form-field fxFlex="auto">
      <mat-label>From
      </mat-label>
      <input type="number" formControlName="employmentHistroyFrom" matInput >
    </mat-form-field>
    <mat-form-field fxFlex="auto">
      <mat-label>To</mat-label>
      <input type="number" formControlName="employmentHistroyTo" matInput>
    </mat-form-field>
  </div>
  <div *ngIf="step == 6" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <mat-label>Name of Employer
      </mat-label>
      <input formControlName="employmentHistroyName" matInput >
    </mat-form-field>
    <mat-form-field fxFlex="auto">
      <mat-label>Address of Employer</mat-label>
      <input formControlName="employmentHistroyAddressEmployer" matInput>
    </mat-form-field>
  </div>
  <div *ngIf="step == 6" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <mat-label>Job Title
      </mat-label>
      <input formControlName="employmentHistroyJobTitle" matInput >
    </mat-form-field>
  </div>
  <div *ngIf="step == 6" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <mat-label>Duties
      </mat-label>
      <input formControlName="employmentHistroyDuties" matInput >
    </mat-form-field>
    <mat-form-field fxFlex="auto">
      <mat-label>Rate of Pay
      </mat-label>
      <input type="number" formControlName="employmentHistroyRatePay" matInput >
    </mat-form-field>
    <mat-form-field fxFlex="auto">
      <mat-label>Reason for leaving
      </mat-label>
      <input formControlName="employmentHistroyReasonLeaving" matInput >
    </mat-form-field>
  </div>
  <div *ngIf="step == 6" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <mat-label>Notice  in current position
      </mat-label>
      <input formControlName="employmentHistroyNoticeRequiredCurrentPosition" matInput >
    </mat-form-field>
  </div>
  <!-- ///////////////////Page7 ends/////////////////////// -->
  <!-- ///////////////////Page8 starts/////////////////////// -->
  <div fxLayout="column" *ngIf="step == 7" class="flex flex-col sm:flex-row">
    <label>Employment History</label>
    <mat-form-field fxFlex="auto">
      <mat-label>Name of Employer
      </mat-label>
      <input formControlName="otherEmploymentName" matInput >
    </mat-form-field>
  </div>
  <div *ngIf="step == 7" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <mat-label>Address of Employer</mat-label>
      <input formControlName="otherEmploymentAddressEmployer" matInput>
    </mat-form-field>
  </div>
  <div *ngIf="step == 7" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <mat-label>Job Title
      </mat-label>
      <input formControlName="otherEmploymentJobTitle" matInput >
    </mat-form-field>
  </div>
  <!-- ///////////////////Page8 ends/////////////////////// -->
  <!-- ///////////////////Page9 starts/////////////////////// -->
  <div fxLayout="column" *ngIf="step == 8" class="flex flex-col sm:flex-row">
    <label>Reference</label>
    <div>
      <mat-form-field fxFlex="auto">
        <mat-label>Company Name (Optional)
        </mat-label>
        <input formControlName="referenceCompanyName" matInput >
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="step == 8" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <mat-label>Address
      </mat-label>
      <input formControlName="referenceAddress" matInput >
    </mat-form-field>
  </div>
  <div *ngIf="step == 8" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <mat-label>Email
      </mat-label>
      <input formControlName="referenceEmail" matInput >
    </mat-form-field>
  </div>
  <div *ngIf="step == 8" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <mat-label>Contact Person
      </mat-label>
      <input formControlName="referenceContactPerson" matInput >
    </mat-form-field>
  </div>
  <!-- ///////////////////Page9 ends/////////////////////// -->
  <!-- ///////////////////Page10 starts/////////////////////// -->
  <div fxLayout="column" *ngIf="step == 9" class="flex flex-col sm:flex-row">
    <div>
      <h5 class="mt-2 mb-2 text-secondary">
        Do you have any criminal record?
      </h5>
      <mat-radio-group formControlName="criminalRecords" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px" (change)="checkCriminalRecords($event)">
        <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="_criminalRecord">
      <mat-form-field fxFlex="auto">
        <mat-label>CRIMINAL RECORDS
        </mat-label>
        <textarea matInput rows="5" formControlName="criminalRecordDetail" cols="40" value=""></textarea>
      </mat-form-field>
    </div>
  </div>
  <!-- ///////////////////Page10 ends/////////////////////// -->
  <!-- ///////////////////Page11 starts/////////////////////// -->
  <!-- Profile Photo -->
  <div *ngIf="step == 10">
    <div class="columns">
      <div class="column is-one-third">
        <div class="field">
          <div class="file has-name is-primary is-fullwidth">
            <label class="file-label">
              <input
                class="file-input"
                type="file"
                accept=".png,.jpg,.jpeg"
                name="file"
                #fileInput
                (change)="fileChangeEvent($event)"
                style="opacity: 0;width:128px"
              />
              <span class="file-cta mat-raised-button">
                <span class="file-icon">
                </span>
                <span class="file-label mat-raised-button">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                {{ fileName }}
              </span>
              <button type="button"mat-button style="margin-left: 128px;background: #5c77ff;color: white;" color="primary" (click)="onUpload()" [disabled]="isUploading">Upload</button>
            </label>
          </div>
        </div>

        <article class="message" *ngIf="infoMessage">
          <div class="message-body">
            {{ infoMessage }}
          </div>
        </article>

        <div class="field" *ngIf="!infoMessage">
          <div class="control">
            <progress class="progress is-primary" style="visibility: hidden;" [attr.value]="progress" max="100"></progress>
          </div>
        </div>
        <!-- <div class="field">
          <div class="control" style="text-align: center;">
            <button mat-button style="    margin-left: 128px;background: #5c77ff;color: white;" color="primary" (click)="onUpload()" [attr.disabled]="isUploading ? '' : null">Upload</button>
          </div>
        </div> -->
      </div>
      <div class="column">
        <figure class="image is-128x128">
          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded($event)"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
          ></image-cropper>
          <img [src]="croppedImage" style="padding: auto;margin:auto; width: 38%;height:38%" />
        </figure>
      </div>
    </div>
  </div>
  <!-- ///////////////////Page11 ends/////////////////////// -->
  <!-- ///////////////////Page12 starts/////////////////////// -->
  <div fxLayout="column" *ngIf="step == 11" class="flex flex-col sm:flex-row">
    <mat-hint>*All Fields are required.
    </mat-hint>
    <mat-form-field fxFlex="auto">
      <input formControlName="specialArrangementImpairment" matInput >
      <mat-hint>Please specify any special arrangements for work associated with any impairment.
      </mat-hint>
    </mat-form-field>
    <mat-form-field fxFlex="auto">
      <input formControlName="specialArrangementAttendInterview" matInput >
      <mat-hint>Please specify special arrangements you will need to attend an interview
      </mat-hint>
    </mat-form-field>
  </div>
  <div *ngIf="step == 11" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <input formControlName="listAnyDiseases" matInput >
      <mat-hint>Please list any diseases, disorders, allergies, muscular or musculoskeletal injuries from which you have suffered to do suffer</mat-hint>
    </mat-form-field>
  </div>
  <div *ngIf="step == 11" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <input formControlName="medicineDrugsTreatment" matInput >
      <mat-hint>Please detail any form of medicine, drugs or treatment you are currently and/or regularly receiving.</mat-hint>
    </mat-form-field>
  </div>
  <div *ngIf="step == 11" class="flex flex-col sm:flex-row">
    <mat-form-field fxFlex="auto">
      <input formControlName="allAbsencesWordPast12Month" matInput >
      <mat-hint>Please list all absences from work in the past 12 months and the reasons for such absences.</mat-hint>
    </mat-form-field>
  </div>
  <!-- ///////////////////Page12 ends/////////////////////// -->
  <!-- ///////////////////Page13 starts/////////////////////// -->
  <div fxLayout="column" fxLayoutGap="8px" *ngIf=" step == 12">
    <div *ngIf="_payingStudentLoanDirctly">
      <h5 class="mt-2 mb-2 text-secondary">
        Please read this carefully before signing this application
      </h5>
      <p>1. I authorize the company and any third-party nominated by the company to perform and approach previous employers, educations institutions, personal referees and/or government agencies to verify the information I have provided.
      I consent to the company processing my personal data as defined in the Data Protection Act 2018; this may include sensitive personal data
      </p>
      <p class="mt-2 mb-2 text-secondary">2. I confirm that the submitted information is complete and correct and that any untrue or misleading information will give the employment business (the agency) the right to terminate my contract for services.</p>
      <div fxLayout="column" fxLayoutGap="16px">
        <mat-form-field fxFlex="auto">
          <mat-label>E-signature</mat-label>
          <input formControlName="eSignature" matInput >
        </mat-form-field>
        <mat-form-field fxFlex="auto">
          <mat-label>Date</mat-label>
          <input [textMask]="{mask: dateMask, guide: false}" formControlName="agreementDate" matInput >
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-form-field *ngIf="step == 12" fxFlex="grow">
    <mat-label>Email</mat-label>
    <input type="email" formControlName="emailAddress" matInput autocomplete="off" />
    <mat-error *ngIf="workerForm.get('emailAddress').hasError('required') || workerForm.get('emailAddress').hasError('pattern')">
      <span *ngIf="workerForm.get('emailAddress').hasError('required')">This is required field</span>
      <span *ngIf="workerForm.get('emailAddress').hasError('pattern')">This field is invalid.</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="step == 12" fxFlex="grow">
    <mat-label>Password</mat-label>
    <input [type]="inputType" formControlName="hash" matInput >
    <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
      <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
      <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
    </button>
    <mat-hint>Click the eye to toggle visibility</mat-hint>
  </mat-form-field>
  <mat-form-field *ngIf="step == 12" fxFlex="grow">
    <mat-label>Password (Confirm)</mat-label>
    <input [type]="inputType" formControlName="passwordConfirm" matInput >
    <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
      <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
      <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
    </button>
    <mat-hint>Please repeat your password from above</mat-hint>
  </mat-form-field>
  <!-- ///////////////////Page13 ends/////////////////////// -->

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button [disabled]="step == 0" fxFlex="auto" (click)="ChangeStep(-1)" color="primary" mat-raised-button type="button">
      Back Step
    </button>
      <button [disabled]="step == 12 " fxFlex="auto" (click)="ChangeStep(1)" color="primary" mat-raised-button type="button">
       Next Step
    </button>
    <button *ngIf="step == 12" color="primary" mat-raised-button type="submit">CREATE WORKER</button>
  </mat-dialog-actions>
</form>


