<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 class="headline m-0" fxFlex="auto">Upload Files</h2>
  <button mat-icon-button mat-dialog-close type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>
<mat-divider class="mb-6 -mx-3 text-border"></mat-divider>
<div mat-dialog-content>
  <div class="file has-name is-primary is-fullwidth">
    <label class="file-label">
      <input
        class="file-input"
        type="file"
        multiple
        accept=".doc,.docx,.rtf,.jpeg,.jpg,.png,.pdf"
        name="file"
        #fileInput
        (change)="fileChangeEvent($event)"
      />
      <!-- <span class="dropzone-msg-desc">Upload up to 10 files</span> -->
      <div  class="mt-5 dropzone-msg-desc" *ngFor="let fileName of fileNames">
        <span class="file-name">
          {{ fileName }}
        </span>
      </div>
    </label>
  </div>
</div>

<div mat-dialog-actions  align="end">
  <button type="button" mat-raised-button color="primary" (click)="onUploadFiles()" [disabled]="!isUploading">Upload</button>
</div>


