<vex-page-layout mode="card">

  <vex-secondary-toolbar *ngIf="workerForm.get('forename').value || workerForm.get('surename').value"[current]="[workerForm.get('forename').value +' '+workerForm.get('surename').value]">
    <!-- <vex-breadcrumbs [crumbs]="['Page Layouts', 'Simple', 'Tabbed']" fxFlex="auto"></vex-breadcrumbs> -->
    <div fxFlex="auto">
      <!-- <span style="color:darkgray">Registered: {{formatDate(workerForm.get('createdDate').value, }}</span> -->
      <span style="color:darkgray" *ngIf="workerForm.get('createdDate').value">Registered: {{workerForm.get('createdDate').value| date:'dd MMM yyyy' }}</span>
    </div>
    <button class="ml-2"  *ngIf="workerForm.get('department').value"color="primary" type="button">
      {{workerForm.get('department').value}}
    </button>
  </vex-secondary-toolbar>

  <vex-page-layout-content class="vex-tabs p-0 card" vexContainer>
    <form (ngSubmit)="save()" [formGroup]="workerForm">
      <mat-tab-group>
        <mat-tab label="Private & Confidential">
          <div class="p-6">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="200px">
                <img [src]="croppedImage" style="width:200px;height:200px">
                <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="1 / 1"
                  format="png"
                  #cropper
                  (imageCropped)="imageCropped($event)"
                ></image-cropper>
                <label class="file-label inline-block">
                  <input
                    class="file-input"
                    type="file"
                    accept=".png,.jpg,.jpeg"
                    name="file"
                    #fileInput
                    (change)="fileChangeEvent($event)"
                    style="opacity: 0;line-height: 0; width: 20px;"
                  />
                  <span *ngIf="!isUploading" class="file-label mat-stroked-button" color="secondary">
                    {{ btnTxt }}
                  </span>
                  <span class="file-name block">
                    {{ fileName }}
                  </span>
                  <button *ngIf="isUploading" type="button" mat-button style="margin-left: 128px;background: #5c77ff;color: white;" color="primary" (click)="onUpload()">Upload</button>
                </label>
                <button *ngIf="!isUploading && picRemove" type="button" mat-stroked-button mat-button color="accent" (click)="removePicture('remove')">Remove</button>
              </div>
              <div fxFlex>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                  <mat-form-field fxFlex="grow">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="department" (selectionChange)="changeDepartment($event)" [(ngModel)]="selectedDepartment">
                        <mat-option value="Housekeeping">Housekeeping</mat-option>
                        <mat-option value="Food and Beverage">Food and Beverage</mat-option>
                        <mat-option value="Back of House">Back of House</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field fxFlex="grow">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="clientStatus" (selectionChange)="changeStatus($event)" [(ngModel)]="selectedStatus">
                        <mat-option value="Active">Active</mat-option>
                        <mat-option value="Pending">Pending</mat-option>
                        <mat-option value="Suspended">Suspend</mat-option>
                        <mat-option value="Dismissed">Dismissed</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field fxFlex="grow">
                    <mat-label>Title</mat-label>
                    <input formControlName="title" matInput >
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                 <mat-form-field fxFlex="grow">
                  <mat-label>Email</mat-label>
                  <input formControlName="emailAddress" matInput >
                  </mat-form-field>
                  <mat-form-field fxFlex="grow">
                    <mat-label>First Name</mat-label>
                    <input formControlName="forename" matInput>
                  </mat-form-field>
                  <mat-form-field fxFlex="grow">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="surename" matInput required>
                  </mat-form-field>
                </div>
                <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                  <mat-form-field fxFlex="grow">
                    <mat-label>Password</mat-label>
                    <input [type]="inputType" formControlName="hash" matInput >
                    <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                    <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                    <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                    </button>
                    <mat-hint>Click the eye to toggle visibility</mat-hint>
                  </mat-form-field>
                  <mat-form-field fxFlex="grow">
                        <mat-label>Password (Confirm)</mat-label>
                        <input [type]="inputType" formControlName="passwordConfirm" matInput >
                        <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                        <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                        <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                        </button>
                        <mat-hint>Please repeat your password from above</mat-hint>
                    </mat-form-field>
                </div>
              </div>
            </div>
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">Personal Details</h2>
                </div>
                <div fxLayout="column">
                  <mat-radio-group formControlName="gender" class="mat-form-field-wrapper" fxLayout="row" fxLayoutGap="16px">
                    <mat-radio-button value="Male" color="primary">Male</mat-radio-button>
                    <mat-radio-button value="Female" color="accent">Female</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div fxLayout="column">
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Select your date of birth</mat-label>
                      <input formControlName="dateBirth" value="{{ birthDateVal | date:'yyyy-MM-dd' }}" (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()" [matDatepicker]="formDatepickerRef" matInput>
                      <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
                      <mat-hint>Click on the input or the datepicker icon</mat-hint>
                      <mat-datepicker #formDatepickerRef></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                      <mat-label>Mobile Number</mat-label>
                      <input formControlName="mobileNumber"  pattern="[+0-9]*" minlength="10"maxlength="14"onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" matInput >
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                        <mat-label>Home Number</mat-label>
                        <input formControlName="homeNumber" pattern="[+0-9]*" minlength="10"maxlength="14"onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43"  matInput >
                    </mat-form-field>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Address Line 1</mat-label>
                      <input formControlName="addressLine1" matInput >
                  </mat-form-field>
                  <mat-form-field fxFlex="auto">
                      <mat-label>Address Line 2</mat-label>
                      <input formControlName="addressLine2" matInput >
                  </mat-form-field>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>City</mat-label>
                      <input formControlName="city" matInput >
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                        <mat-label>Postcode</mat-label>
                        <input formControlName="postcode" matInput >
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">Bank Account Information</h2>
                </div>
                <div fxLayout="column">
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Bank Name</mat-label>
                      <input formControlName="bankName" matInput >
                     </mat-form-field>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Bank Branch</mat-label>
                      <input type="text" formControlName="bankBranch" matInput >
                    </mat-form-field>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Account Holder Name</mat-label>
                      <input type="text" formControlName="accountNameHolder" matInput >
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                      <mat-label>Account Number</mat-label>
                      <input type="number"formControlName="bankAccountNumber" matInput >
                    </mat-form-field>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Sort Code</mat-label>
                      <input [textMask]="{mask: sortMask, guide: false}" formControlName="bankBranchSortCode" maxlength="8" matInput onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 45">
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                      <mat-label>Building Society Reference (Optional) </mat-label>
                      <input formControlName="buildingSocietyReference" matInput>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">National Insurance</h2>
                </div>
                <div fxLayout="column">
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>National Insurance Number (Optional)</mat-label>
                      <input formControlName="nationalInsuranceNumber" matInput>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Driving License Number (Optional)</mat-label>
                      <input formControlName="currentDrivingLicense" matInput>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Expiry Date (ex: MM/YYYY)</mat-label>
                      <input [textMask]="{mask: exDateMask, guide: false}" formControlName="currentDrivingLicenseExpiryDate" matInput>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Details of Endorsements</mat-label>
                      <input formControlName="detailsEndorsements" matInput>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">Next of Kin Information</h2>
                </div>
                <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                  <mat-form-field fxFlex="auto">
                    <mat-label>Emergency Contact Name / Next of Kin</mat-label>
                    <input formControlName="emergencyRelationship" matInput >
                  </mat-form-field>
                  <mat-form-field fxFlex="auto">
                    <mat-label>Relationship</mat-label>
                    <input formControlName="relationship" matInput >
                  </mat-form-field>
                </div>
                <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                  <mat-form-field fxFlex="auto">
                    <mat-label>Next of Kin Phone Number (mobile)
                    </mat-label>
                    <input formControlName="nextKinPhoneNumberMobile" matInput >
                  </mat-form-field>
                  <mat-form-field fxFlex="auto">
                    <mat-label>Next of Kin Phone Number (home) (Optional)</mat-label>
                    <input formControlName="nextKinPhoneNumberHome" matInput>
                  </mat-form-field>
                </div>
                <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                  <mat-form-field fxFlex="auto">
                    <mat-label>Next of Kin Address</mat-label>
                    <textarea matInput rows="2" formControlName="nextKinAddress" cols="40" value=""></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button mat-button (click)="cancelBtn()"type="button">CANCEL</button>
              <button color="primary" mat-raised-button type="submit">SAVE CHANGES</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Statements">
          <div class="p-6">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">Restrictions</h2>
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                  <mat-checkbox color="primary" formControlName="restrictionEmployment" (change)="checkrestrictionEmployment($event)">Are there any restrictions on you taking up employment in the UK?</mat-checkbox>
                  <div class="p-3"fxLayout="column" *ngIf="restrictionEmploymentVal">
                    <mat-form-field fxFlex="auto">
                      <textarea matInput rows="2" formControlName="restrictionEmploymentDetail" cols="40" value=""></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">Employee Statement</h2>
                </div>
                <div fxLayout="column" fxLayoutGap="16px">
                  <mat-radio-group formControlName="employeeStatement" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px">
                    <mat-radio-button value="This is my first job since 6 April and I’ve not been receiving taxable Jobseeker’s Allowance, Employment and Support Allowance, taxable Incapacity Benefit, State or Occupational Pension." color="primary">
                      <span style="white-space: normal;">This is my first job since 6 April and I’ve not been receiving taxable Jobseeker’s Allowance, Employment and Support Allowance, taxable Incapacity Benefit, State or Occupational Pension.</span>
                    </mat-radio-button>
                    <mat-radio-button value="This is now my only job but since 6 April I’ve had another job, or received taxable Jobseeker’s Allowance, Employment and Support Allowance or taxable Incapacity Benefit. I do not receive a State or Occupational Pension." color="primary">
                      <span style="white-space: normal;">This is now my only job but since 6 April I’ve had another job, or received taxable Jobseeker’s Allowance, Employment and Support Allowance or taxable Incapacity Benefit. I do not receive a State or Occupational Pension.
                      </span>
                    </mat-radio-button>
                    <mat-radio-button value="As well as my new job, I have another job or receive State or Occupational Pension." color="primary">
                      As well as my new job, I have another job or receive State or Occupational Pension.
                    </mat-radio-button>
                  </mat-radio-group>
                 </div>
              </div>
            </div>
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">Student Loan</h2>
                </div>
                <div>
                  <h5 class="mt-2 mb-2 text-secondary">
                    You’ll have a Plan 1 Student Loan if:
                  </h5>
                  <p>1. you lived in Scotland or Northern Ireland when you started your course (undergraduate or postgraduate)</p>
                  <p>2. you lived in England or Wales and started your undergraduate course before 1 September 2012 </p>
                  <h5 class="mt-2 mb-2 text-secondary">
                    You’ll have a Plan 2 Student Loan if:
                  </h5>
                  <p>3. you lived in England or Wales and started your undergraduate course on or after 1 September 2012</p>
                  <p>4. your loan is a Part Time Maintenance Loan </p>
                  <p>5. your loan is an Advanced Learner Loan </p>
                  <p>6. your loan is a Postgraduate Healthcare Loan </p>
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                  <h5 class="mt-2 mb-2 text-secondary">
                    Do you have one of the Student Loan Plans described which is not fully repaid?
                  </h5>
                  <div class="p-3" fxLayout="column" fxLayoutGap="16px">
                    <mat-radio-group formControlName="studentLoan" (change)="checkStudentLoan($event, 1)" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px">
                      <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
                      <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div *ngIf="_studentloan">
                    <h5 class="mt-2 mb-2 text-secondary">
                      What type of Student Loan do you have?
                    </h5>
                    <div class="p-3" fxLayout="column" fxLayoutGap="16px">
                      <mat-radio-group formControlName="studentloanPlan" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px" class="p-0">
                        <mat-radio-button value="Plan 1" color="primary">Plan 1</mat-radio-button>
                        <mat-radio-button value="Plan 2" color="primary">Plan 2</mat-radio-button>
                        <mat-radio-button value="Both" color="primary">Both</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <h5 class="mt-2 mb-2 text-secondary">
                      Did you complete or leave your studies before 6th April?
                    </h5>
                    <div class="p-3" fxLayout="column" fxLayoutGap="16px">
                      <mat-radio-group formControlName="leaveStudiesBefore6" (change)="checkStudentLoan($event, 2)" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px">
                        <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
                        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div *ngIf="_studentloan && _leaveStudiesBefore6">
                    <h5 class="mt-2 mb-2 text-secondary">
                      Are you repaying your Student Loan directly to the Student Loans Company by direct debit?
                    </h5>
                    <div class="p-3" fxLayout="column" fxLayoutGap="16px">
                      <mat-radio-group formControlName="payingStudentLoanDirctly" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px" (change)="checkStudentLoan($event, 3)">
                        <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
                        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">Postgraduate Loan</h2>
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                  <h5 class="mt-2 mb-2 text-secondary">
                    Do you have a Postgraduate Loan which is not fully repaid?
                  </h5>
                  <div class="p-3" fxLayout="column" fxLayoutGap="16px">
                    <mat-radio-group formControlName="postgraduateLoan" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px" (change)="checkPostgraduate($event, 1)">
                      <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
                      <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div *ngIf="_postloan">
                    <h5 class="mt-2 mb-2 text-secondary">
                      Did you complete or leave your Postgraduate studies before 6th April?
                    </h5>
                    <div class="p-3" fxLayout="column" fxLayoutGap="16px">
                      <mat-radio-group formControlName="leavePostStudiesBefore6" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px" (change)="checkPostgraduate($event, 2)">
                        <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
                        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div *ngIf="_postloan && _leavePostStudiesBefore6">
                    <h5 class="mt-2 mb-2 text-secondary">
                      Are you repaying your Postgraduate Loan direct to the Student Loans Company by direct debit?
                    </h5>
                    <div class="p-3" fxLayout="column" fxLayoutGap="16px">
                      <mat-radio-group formControlName="payingPostLoanDirctly" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px"class="p-0">
                        <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
                        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">Qualifications</h2>
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Qualification Name </mat-label>
                      <input formControlName="qualificationName" matInput>
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                      <mat-label>Qualification Year </mat-label>
                      <input formControlName="qualificationYear" type="number" matInput >
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button mat-button (click)="cancelBtn()"type="button">CANCEL</button>
              <button color="primary" mat-raised-button type="submit">SAVE CHANGES</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Work & Reference">
          <div class="p-6">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">Work Experiences</h2>
                </div>
                <div fxLayout="column">
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Name of Employer (Optional)
                      </mat-label>
                      <input formControlName="employmentHistroyName" matInput >
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                      <mat-label>From
                      </mat-label>
                      <input type="number" formControlName="employmentHistroyFrom" matInput >
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                      <mat-label>To</mat-label>
                      <input type="number" formControlName="employmentHistroyTo" matInput>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Job Title (Optional)
                      </mat-label>
                      <input formControlName="employmentHistroyJobTitle" matInput >
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                      <mat-label>Duties
                      </mat-label>
                      <input formControlName="employmentHistroyDuties" matInput >
                    </mat-form-field>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Rate of Pay
                      </mat-label>
                      <input formControlName="employmentHistroyRatePay" matInput >
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                      <mat-label>Notice to leave (optional)
                      </mat-label>
                      <input formControlName="employmentHistroyNoticeRequiredCurrentPosition" matInput >
                    </mat-form-field>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Address of Employer (Optional)</mat-label>
                      <textarea matInput rows="2" formControlName="employmentHistroyAddressEmployer" cols="40" value=""></textarea>
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                      <mat-label>Reason for leaving (Optional)
                      </mat-label>
                      <textarea matInput rows="2" formControlName="employmentHistroyReasonLeaving" cols="40" value=""></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="column">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <h2 class="py-2 title m-0">Other Employment</h2>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                      <mat-label>Name of Employer
                      </mat-label>
                      <input formControlName="otherEmploymentName" matInput >
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                      <mat-label>Address of Employer</mat-label>
                      <input formControlName="otherEmploymentAddressEmployer" matInput>
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                      <mat-label>Job Title
                      </mat-label>
                      <input formControlName="otherEmploymentJobTitle" matInput >
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">References</h2>
                </div>
                <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                  <mat-form-field fxFlex="auto">
                    <mat-label>Company Name (Optional)
                    </mat-label>
                    <input formControlName="referenceCompanyName" matInput >
                  </mat-form-field>
                  <mat-form-field fxFlex="auto">
                    <mat-label>Email Address (Optional)
                    </mat-label>
                    <input formControlName="referenceEmail" matInput >
                  </mat-form-field>
                  <mat-form-field fxFlex="auto">
                    <mat-label>Contact Person (Optional)
                    </mat-label>
                    <input formControlName="referenceContactPerson" matInput >
                  </mat-form-field>
                </div>
                <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                  <mat-form-field fxFlex="auto">
                    <mat-label>Company Address</mat-label>
                    <textarea matInput rows="2" formControlName="referenceAddress" cols="40" value=""></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button mat-button type="button" (click)="cancelBtn()">CANCEL</button>
              <button color="primary" mat-raised-button type="submit">SAVE CHANGES</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Records">
          <div class="p-6">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">Personal Worker Records</h2>
                </div>
                <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                  <h5 class="mt-2 mb-2 text-secondary">
                    Do you have any criminal record?
                  </h5>
                </div>
                <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                  <mat-radio-group formControlName="criminalRecords" class="mat-form-field-wrapper" fxLayout="column" fxLayoutGap="16px" (change)="checkCriminalRecords($event)" fxFlex="auto">
                    <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
                    <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
                  </mat-radio-group>
                  <mat-form-field fxFlex="auto" *ngIf="_criminalRecord">
                    <mat-label>Criminal Records
                    </mat-label>
                    <textarea matInput rows="3" formControlName="criminalRecordDetail" cols="40" value=""></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2 class="py-2 title m-0">Health Details</h2>
                </div>
                <div fxLayout="column">
                  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <div fxLayout="column" fxFlex="auto">
                      <mat-form-field fxFlex="auto">
                        <mat-label>Please specify any special arrangements for work associated with any impairment.
                        </mat-label>
                        <textarea matInput rows="2" formControlName="specialArrangementImpairment" cols="40" value=""></textarea>
                      </mat-form-field>
                      <mat-form-field fxFlex="auto">
                        <mat-label>Please specify special arrangements you will need to attend an interview.
                        </mat-label>
                        <textarea matInput rows="2" formControlName="specialArrangementAttendInterview" cols="40" value=""></textarea>
                      </mat-form-field>
                      <mat-form-field fxFlex="auto">
                        <mat-label>Please list any diseases, disorders, allergies, muscular or musculoskeletal injuries from which you have suffered to do suffer
                        </mat-label>
                        <textarea matInput rows="2" formControlName="listAnyDiseases" cols="40" value=""></textarea>
                      </mat-form-field>
                      <mat-form-field fxFlex="auto">
                        <mat-label>Please detail any form of medicine, drugs or treatment you are currently and/or regularly receiving.
                        </mat-label>
                        <textarea matInput rows="2" formControlName="medicineDrugsTreatment" cols="40" value=""></textarea>
                      </mat-form-field>
                      <mat-form-field fxFlex="auto">
                        <mat-label>Please list all absences from work in the past 12 months and the reasons for such absences.
                        </mat-label>
                        <textarea matInput rows="2" formControlName="allAbsencesWordPast12Month" cols="40" value=""></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button mat-button type="button" (click)="cancelBtn()">CANCEL</button>
              <button color="primary" mat-raised-button type="submit">SAVE CHANGES</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Documents">
          <div class="p-6">
            <div class="px-6 py-4" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="auto">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <h2 class="py-2 title m-0">Manage Documents</h2>
                  <button mat-raised-button color="primary" (click)="uploadFile()" type="button">
                    <mat-icon [icIcon]="icUpload"></mat-icon>
                    Upload File
                  </button>
                </div>
                <mat-divider class="-mx-3 text-border"></mat-divider>
              </div>
            </div>
            <div class="px-6 py-4">
              <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
                <!-- Image Column -->
                <ng-container matColumnDef="fileType">
                  <th *matHeaderCellDef mat-header-cell>File Type</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon [icIcon]="getFileExtension(element)"></mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="title">
                  <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Title
                  </th>
                  <td mat-cell *matCellDef="let element"
                  [attr.contenteditable]="true" (blur)="editTitle($event, element)"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="dateUpload">
                  <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Date Uploaded </th>
                  <td mat-cell *matCellDef="let element"> {{element.dateUpload| date:'dd MMMM yyyy'}} </td>
                </ng-container>
                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
                  <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                    <button (click)="download(row)" mat-icon-button type="button">
                      <mat-icon [icIcon]="icFileDownload"></mat-icon>
                    </button>
                    <button (click)="delete(row)" mat-icon-button type="button">
                      <mat-icon [icIcon]="icDelete"></mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
              </table>

              <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button mat-button (click)="cancelBtn()"type="button">CANCEL</button>
              <button color="primary" mat-raised-button type="submit">SAVE CHANGES</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Default Rates">
          <div class="p-6">
            <form (ngSubmit)="submit()" [formGroup]="defaultRatesForm">
              <ng-template matTabContent>
                <mat-tab-group [(selectedIndex)]="innerSelectedTabIndex" (selectedTabChange)="onTabChanged($event);">
                  <mat-tab label="Housekeeping">
                    <div class="p-6">
                      <div class="py-4">
                        <table @stagger [dataSource]="ratesdataSource" class="w-full" mat-table matSort>

                          <ng-container matColumnDef="role">
                            <th *matHeaderCellDef mat-header-cell>Role</th>
                            <td mat-cell *matCellDef="let element">{{element.role}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="payrateU25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Pay Rate (Under 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('payrateU25', $event, element)">
                                {{element.payrateU25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="chargerateU25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Charge Rate (Under 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('chargerateU25', $event, element)">
                                {{element.chargerateU25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="payrateO25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Pay Rate (Over 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('payrateO25', $event, element)">
                                {{element.payrateO25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="chargerateO25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Charge Rate (Over 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('chargerateO25', $event, element)">
                                {{element.chargerateO25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <tr *matHeaderRowDef="visibleRateColumns" mat-header-row></tr>
                          <tr *matRowDef="let row; columns: visibleRateColumns;" @fadeInUp class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
                        </table>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                        <button color="primary" mat-raised-button type="submit">Update</button>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Food and Beverage">
                    <div class="p-6">
                      <div class="py-4">
                        <table @stagger [dataSource]="ratesdataSource" class="w-full" mat-table matSort>

                          <ng-container matColumnDef="role">
                            <th *matHeaderCellDef mat-header-cell>Role</th>
                            <td mat-cell *matCellDef="let element">{{element.role}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="payrateU25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Pay Rate (Under 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('payrateU25', $event, element)">
                                {{element.payrateU25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="chargerateU25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Charge Rate (Under 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('chargerateU25', $event, element)">
                                {{element.chargerateU25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="payrateO25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Pay Rate (Over 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('payrateO25', $event, element)">
                                {{element.payrateO25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="chargerateO25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Charge Rate (Over 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('chargerateO25', $event, element)">
                                {{element.chargerateO25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <tr *matHeaderRowDef="visibleRateColumns" mat-header-row></tr>
                          <tr *matRowDef="let row; columns: visibleRateColumns;" @fadeInUp class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
                        </table>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                        <button color="primary" mat-raised-button type="submit">Update</button>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Back of House">
                    <div class="p-6">
                      <div class="py-4">
                        <table @stagger [dataSource]="ratesdataSource" class="w-full" mat-table matSort>

                          <ng-container matColumnDef="role">
                            <th *matHeaderCellDef mat-header-cell>Role</th>
                            <td mat-cell *matCellDef="let element">{{element.role}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="payrateU25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Pay Rate (Under 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('payrateU25', $event, element)">
                                {{element.payrateU25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="chargerateU25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Charge Rate (Under 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('chargerateU25', $event, element)">
                                {{element.chargerateU25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="payrateO25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Pay Rate (Over 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('payrateO25', $event, element)">
                                {{element.payrateO25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="chargerateO25">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Charge Rate (Over 25)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <mat-icon class="currency">£</mat-icon>
                              <div class="inline-block p-2" [attr.contenteditable]="true" (blur)="editDefaultRates('chargerateO25', $event, element)">
                                {{element.chargerateO25.toFixed(2)}}
                              </div>
                            </td>
                          </ng-container>

                          <tr *matHeaderRowDef="visibleRateColumns" mat-header-row></tr>
                          <tr *matRowDef="let row; columns: visibleRateColumns;" @fadeInUp class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
                        </table>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                        <button color="primary" mat-raised-button type="submit">Update</button>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </ng-template>
            </form>

          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </vex-page-layout-content>

</vex-page-layout>
