<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <!-- <img *ngIf="form.get('imageSrc').value" [src]="form.get('imageSrc').value" class="avatar mr-5"> -->

    <h2 *ngIf="form.get('client').value "
        class="headline m-0"
        fxFlex="auto">{{ form.get('client').value}}</h2>
    <h2 *ngIf="!form.get('client').value"
        class="headline m-0"
        fxFlex="auto">New Job</h2>

    <!-- <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button> -->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Client</mat-label>
        <input cdkFocusInitial formControlName="client" matInput>

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
        <mat-form-field class="flex-auto">
          <mat-label>Department</mat-label>
          <!-- <input formControlName="department" matInput> -->
          <mat-select formControlName="department" (selectionChange)="changeAccountType($event , 1)" [(ngModel)]="selectedType">
            <mat-option value="Housekeeping">Housekeeping</mat-option>
            <mat-option value="Food and Beverage">Food and Beverage</mat-option>
            <mat-option value="Back of House">Back of House</mat-option>
        </mat-select>
          <!-- <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon> -->
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Role</mat-label>
        <!-- <input formControlName="role" matInput> -->
        <mat-select formControlName="role" (selectionChange)="changeAccountType($event , 2)" [(ngModel)]="selectedRole">
          <mat-option *ngIf="selectedType == 'Housekeeping'" value="Linen Porter">Linen Porter</mat-option>
          <mat-option *ngIf="selectedType == 'Housekeeping'" value="Floor Porter">Floor Porter</mat-option>
          <mat-option *ngIf="selectedType == 'Housekeeping'" value="Floor Supervisor">Floor Supervisor</mat-option>
          <mat-option *ngIf="selectedType == 'Housekeeping'" value="Room Supervisor">Room Supervisor</mat-option>
          <mat-option *ngIf="selectedType == 'Housekeeping'" value="Evening Room Attendant">Evening Room Attendant</mat-option>
          <mat-option *ngIf="selectedType == 'Housekeeping'" value="Public Area Attendant">Public Area Attendant</mat-option>
          <mat-option *ngIf="selectedType == 'Housekeeping'" value="Spa Attendant">Spa Attendant</mat-option>
          <mat-option *ngIf="selectedType == 'Housekeeping'" value="Valet">Valet</mat-option>
          <mat-option *ngIf="selectedType == 'Housekeeping'" value="Housekeeper">Housekeeper</mat-option>

          <mat-option *ngIf="selectedType == 'Food and Beverage'" value="Waiters">Waiters</mat-option>
          <mat-option *ngIf="selectedType == 'Food and Beverage'" value="Night Waiters">Night Waiters</mat-option>
          <mat-option *ngIf="selectedType == 'Food and Beverage'" value="Night Room Service">Night Room Service</mat-option>
          <mat-option *ngIf="selectedType == 'Food and Beverage'" value="Supervisor Banqueting">Supervisor Banqueting</mat-option>
          <mat-option *ngIf="selectedType == 'Food and Beverage'" value="Team Leader">Team Leader</mat-option>
          <mat-option *ngIf="selectedType == 'Food and Beverage'" value="Silver Service Waiters">Silver Service Waiters</mat-option>
          <mat-option *ngIf="selectedType == 'Food and Beverage'" value="Bar Staff">Bar Staff</mat-option>
          <mat-option *ngIf="selectedType == 'Food and Beverage'" value="Cloakroom">Cloakroom</mat-option>
          <mat-option *ngIf="selectedType == 'Food and Beverage'" value="Concierge">Concierge</mat-option>
          <mat-option *ngIf="selectedType == 'Food and Beverage'" value="Hostess">Hostess</mat-option>

          <mat-option *ngIf="selectedType == 'Back of House'" value="Kitchen Porter">Kitchen Porter</mat-option>
          <mat-option *ngIf="selectedType == 'Back of House'" value="Night Kitchen Porter">Night Kitchen Porter</mat-option>
          <mat-option *ngIf="selectedType == 'Back of House'" value="Night Cleaners">Night Cleaners</mat-option>
          <mat-option *ngIf="selectedType == 'Back of House'" value="Supervisor BOH (Back of House)">Supervisor BOH (Back of House)</mat-option>
          <mat-option *ngIf="selectedType == 'Back of House'" value="Food Runners">Food Runners</mat-option>
          <mat-option *ngIf="selectedType == 'Back of House'" value="Breakfast Runners">Breakfast Runners</mat-option>
          <mat-option *ngIf="selectedType == 'Back of House'" value="Commis Chef">Commis Chef</mat-option>
          <mat-option *ngIf="selectedType == 'Back of House'" value="Breakfast Chef">Breakfast Chef</mat-option>
          <mat-option *ngIf="selectedType == 'Back of House'" value="Chef De Partie">Chef De Partie</mat-option>
          <mat-option *ngIf="selectedType == 'Back of House'" value="Pastry Chef">Pastry Chef</mat-option>
          <mat-option *ngIf="selectedType == 'Back of House'" value="Banqueting Porter">Banqueting Porter</mat-option>
      </mat-select>
        <!-- <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon> -->
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Shift Date</mat-label>
        <input type="date" formControlName="shiftDate" matInput [min]="minDate">
        <mat-icon [icIcon]="icMyLocation" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-3 flex-auto">
        <mat-label>Start Time</mat-label>
        <input type="number"formControlName="startTime" matInput [(ngModel)]="minStart" min="0"max="23">
        <!-- <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix></mat-icon> -->
      </mat-form-field>
      <mat-form-field class="sm:ml-3 flex-auto">
        <mat-label>End Time</mat-label>
        <input  type="number"formControlName="endTime" matInput [min]="minStart + 1" [value]="minStart + 1" max="24">
        <!-- <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix ></mat-icon> -->
      </mat-form-field>
      <mat-form-field class="sm:ml-3 flex-auto">
        <mat-label>Total Staff</mat-label>
        <input  type="number"formControlName="total" matInput min="1">
        <!-- <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix ></mat-icon> -->
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Location of Shift</mat-label>
      <input formControlName="locationShift" matInput>
      <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Purchase Order No(Optional)</mat-label>
      <input formControlName="purchaseOrderNo" matInput/>
    </mat-form-field>
  <mat-form-field class="flex-auto">
    <mat-label>Additional Information</mat-label>
    <input formControlName="additionalInformation" matInput>
  </mat-form-field>
</mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CREATE JOB</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">UPDATE JOB</button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
